@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#corpo-main {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.header-main h1 {
  font-size: 24px;
  font-weight: 700;
}

.header-main img {
  width: 80px;
}

.header-main button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #111111;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.header-main button:hover {
  background: #ffffff;
  color: black;
}

#filtro-main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

#filtro-main button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

#filtro-main button:hover {
  background: #ffffff;
  color: black;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: calc(25% - 20px); /* Quatro colunas */
  height: 500px;
  margin: 10px;
  box-sizing: border-box; 
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1024px) {
  .card {
      width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
      width: 100%; 
  }
}

.container {
  padding: 2px 16px;
}
